%h2= @doc.title
%p= @doc.content

#links
  = link_to "Back", docs_path, class: "btn btn-sm btn-default"
  = link_to "Edit", edit_doc_path(@doc), class: "btn btn-sm btn-default"
  = link_to "Delete", doc_path(@doc), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default"
  